{{> ../partials/head }}
{{> ../partials/header/header }}

<main class="main">
  {{> ../partials/section-carousel }}
  {{> ../partials/section-production-line }}
  {{> ../partials/section-representation }}
  {{> ../partials/section-consultation-1 }}
  {{> ../partials/section-gallery }}
  {{> ../partials/section-own-technology }}
  {{> ../partials/section-video }}
  {{> ../partials/section-cooperation }}
  {{> ../partials/section-calculator }}
  {{> ../partials/section-eco-business }}
  {{> ../partials/section-partner-products }}
  {{> ../partials/section-consultation-2 }}
  {{> ../partials/section-own-equipment }}
  {{> ../partials/section-recycle }}
  {{> ../partials/section-production-advantages }}
  {{> ../partials/section-consultation-2 }}
  {{> ../partials/section-subscribe }}
  {{> ../partials/section-production-start }}
  {{> ../partials/section-you-get }}
  {{> ../partials/section-production-steps }}
  {{> ../partials/section-faq }}
<!--  {{> ../partials/section-team }}-->
  {{> ../partials/section-more-about-us }}
</main>

{{> ../partials/footer }}
