<div class="contacts-bar">
  <div class="contact-item">
    <img src="../../statics/images/contacts/location.svg" alt="" class="contact-item__icon">
    <div>
      <div class="contact-item__row">
        м. Хмельницький вул. Трудова
      </div>
      <div class="contact-item__desc">
        Машинобудівний завод Ecopolimer
      </div>
    </div>
  </div>

  <div class="contact-item">
    <img src="../../statics/images/contacts/mail.svg" alt="" class="contact-item__icon">
    <a href="mailto:ecopolimer.info@gmail.com">
      ecopolimer.info@gmail.com
    </a>
  </div>

  <div class="contact-item">
    <img src="../../statics/images/contacts/phone.svg" alt="" class="contact-item__icon">
    <a href="tel:ecopolimer.info@gmail.com">
      +38 (098) 207 57 78
    </a>
  </div>

  <div class="contact-item">
    <img src="../../statics/images/contacts/instagram.svg" alt="" class="contact-item__icon">
    <a href="https://instagram.com/eco_polimer.com.ua?utm_medium=copy_link" target="_blank">
      Наш Інстаграм
    </a>
  </div>
</div>
