<section class="section section-cooperation">
  <div class="container">
    <h2 class="title section-cooperation__title">
      Чому варто обирати для співпраці компанію ECO-POLIMER
    </h2>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/cooperation/1.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            Зростаючий тренд
          </div>
          <div class="section-item__text">
            Вільна ніша, на рику композитних матеріалів, що стрімко розвивається, та дає можливості для швидкої окупності
          </div>
        </div>
      </div>
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/cooperation/2.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            Національний проект
          </div>
          <div class="section-item__text">
            Діяльність компанії- сприятиме розвитку екології, що підтримується на державному рівні та з боку екологічних
            фондів та організацій
          </div>
        </div>
      </div>
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/cooperation/3.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            Попит
          </div>
          <div class="section-item__text">
            Соціальний бізнес, в сфері благоустрою — завжди користується попитом, не залежно від економічної ситуації
            на ринку
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
