<section class="section section-eco-business">
  <div class="container">
    <h2 class="title section-eco-business__title">
      Чому варто займатись екологічним бізнесом разом з ECO-POLIMER
    </h2>

    <div class="section-eco-business__desc">
      Від ідеї-до власного виробництва
    </div>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <img src="../../statics/images/eco-business/1.png" alt="">
        <div class="section-eco-business__item">
          <img src="../../statics/images/eco-business/numbers/1.svg" alt="" class="section-eco-business__icon">
          <div class="section-item">
            <div class="section-item__title">
              Найкраще співвідношення ціни та якості.
            </div>
            <div class="section-item__text">
              Ви отримуєте обладнання, за ціною-від виробника.
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <img src="../../statics/images/eco-business/2.png" alt="">
        <div class="section-eco-business__item">
          <img src="../../statics/images/eco-business/numbers/2.svg" alt="" class="section-eco-business__icon">
          <div class="section-item">
            <div class="section-item__title">
              Якісні матеріали та команда спеціалістів.
            </div>
            <div class="section-item__text">
              Ми використовуємо комплектуючі імпортного виробництва та інтелектуальні таланти українського походження.
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <img src="../../statics/images/eco-business/3.png" alt="">
        <div class="section-eco-business__item">
          <img src="../../statics/images/eco-business/numbers/3.svg" alt="" class="section-eco-business__icon">
          <div class="section-item">
            <div class="section-item__title">
              Швидка комунікація.
            </div>
            <div class="section-item__text">
              Наше виробництво знаходиться у м. Хмельниицький — за бажанням ви можете спостерігати та проконтролювати
              кожен етап виготовлення Вашого продукту.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
