<section class="section section-partner-products">
  <div class="container">
    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-partner-products__data">
          <h2 class="title">
            Продкція Eco polimer яку виготовляють наші партнери
          </h2>

          <div class="section-partner-products__address-wrap">
            <div class="contact-item">
              <img src="../../statics/icons/location.svg" alt="" class="contact-item__icon">
              <div>
                <div class="contact-item__row">
                  м. Хмельницький вул. Трудова
                </div>
                <div class="contact-item__desc">
                  Машинобудівний завод Ecopolimer
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-8">
        <div class="section-partner-products__carousel-wrap">
          <div class="swiper js-pp-carousel">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="partner-products-block">
                  <img src="../../statics/images/partner-products/1.png" alt="" class="partner-products-block__img">
                  <div class="">
                    <div class="partner-products-block__header">
                      <div class="partner-products-block__title">
                        На нашому обладнанні можна приготувати всі види полімерпіщаних виробів
                      </div>
                      <div>
                        Наприклад, черепиця полімерна
                      </div>
                    </div>

                    <div class="partner-products-block__item">
                      <div>
                        Полімерпіщане обладнання
                      </div>
                      <a href="" class="partner-products-block__link">
                        eco-polimer.com.ua
                      </a>
                    </div>

                    <div class="partner-products-block__item">
                      <div>
                        Полімерпіщана продукція
                      </div>
                      <a href="" class="partner-products-block__link">
                        eco-polimer.com.ua
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="partner-products-block">
                  <img src="../../statics/images/partner-products/2.png" alt="" class="partner-products-block__img">
                  <div class="">
                    <div class="partner-products-block__header">
                      <div class="partner-products-block__title">
                        На нашому обладнанні можна приготувати всі види полімерпіщаних виробів
                      </div>
                      <div>
                        Наприклад, плитка террасная полимерпесчана
                      </div>
                    </div>

                    <div class="partner-products-block__item">
                      <div>
                        Полімерпіщане обладнання
                      </div>
                      <a href="" class="partner-products-block__link">
                        eco-polimer.com.ua
                      </a>
                    </div>

                    <div class="partner-products-block__item">
                      <div>
                        Полімерпіщана продукція
                      </div>
                      <a href="" class="partner-products-block__link">
                        eco-polimer.com.ua
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="partner-products-block">
                  <img src="../../statics/images/partner-products/3.png" alt="" class="partner-products-block__img">
                  <div class="">
                    <div class="partner-products-block__header">
                      <div class="partner-products-block__title">
                        На нашому обладнанні можна приготувати всі види полімерпіщаних виробів
                      </div>
                      <div>
                        Наприклад, черепиця полімерна
                      </div>
                    </div>

                    <div class="partner-products-block__item">
                      <div>
                        Полімерпіщане обладнання
                      </div>
                      <a href="" class="partner-products-block__link">
                        eco-polimer.com.ua
                      </a>
                    </div>

                    <div class="partner-products-block__item">
                      <div>
                        Полімерпіщана продукція
                      </div>
                      <a href="" class="partner-products-block__link">
                        eco-polimer.com.ua
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-nav carousel-nav--vertical section-partner-products__carousel-nav">
            <button class="carousel-nav__btn carousel-nav__btn--prev js-pp-carousel-prev"></button>
            <button class="carousel-nav__btn carousel-nav__btn--next js-pp-carousel-next"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
