<div class="section-carousel">
  <div class="container">

    <div class="section-carousel__content">
      <div class="swiper js-main-carousel">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="grid">
              <div class="col sc-1200-10">
                <div class="section-carousel__img-wrap">
                  <img class="section-carousel__img" src="../../statics/images/carousel/1.png" alt="">
                </div>
              </div>
            </div>

            <div class="section-carousel__data">
              <div class="section-carousel__desc">
                Твій вклад в екологічне майбутнє нашої країни
              </div>
              <h2 class="title section-carousel__title">
                Побудуй унікальне виробництво на переробці відходів у своєму регіоні
              </h2>

              <button class="button js-form-popup-btn" data-title="Отримати комерційну пропозицію">
                Отримати комерційну пропозицію
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-nav section-carousel__nav">
        <button class="carousel-nav__btn carousel-nav__btn--prev js-main-carousel-prev"></button>
        <button class="carousel-nav__btn carousel-nav__btn--next js-main-carousel-next"></button>
      </div>
    </div>
  </div>
</div>
