<section class="section section-own-technology">
  <div class="container">
    <h2 class="title section-own-technology__title">
      Власна технологія виробництва полімерпіщаних виробів
    </h2>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/own-technology/1.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            Переробляємо пластикові відходи
          </div>
          <div class="section-item__text">
            З потужністю виробництва — від 100 кг готової продукції за годину і більше
          </div>
        </div>
      </div>
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/own-technology/2.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            Виробляємо — будівельні матеріали та товари повсякденного вжитку
          </div>
          <div class="section-item__text">
            Широкий ряд довговічної та екологічно продукції для благоустрою
          </div>
        </div>
      </div>
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/own-technology/3.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            Очищуємо планету та отримуємо прибуток від реалізації корисної продукції
          </div>
          <div class="section-item__text">
            Перетворюйте відходи — у доходи, поєднуйте бізнес, з користю для суспільства
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
