<div class="section section-you-get">
  <div class="container">
    <h2 class="title section-you-get__title">
      Обираючи Eco Polimer, Ви отримуєте
    </h2>

    <div class="section-you-get__desc">
      Екобізнес, з комплектом обладнання, готовим до запуску, через 2 місяці, після початку співпраці.
    </div>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-you-get__item">
          <div class="section-item">
            <img src="../../statics/images/you-get/1.svg" alt="" class="section-item__icon">
            <div class="section-item__title">
              Інноваційне обладнання
            </div>
            <div class="section-item__text">
              Виготовлене, враховуючи усі Ваші побажання, такі як: габарити, продуктивність виробництва, бютжет
              та комплектуючі запчастини
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-you-get__item">
          <div class="section-item">
            <img src="../../statics/images/you-get/2.svg" alt="" class="section-item__icon">
            <div class="section-item__title">
              Контроль виготовлення
            </div>
            <div class="section-item__text">
              Відкрите виробництво — дає можливість проконтролювати та перевірити самостійно будь-який з етапів
              виготовлення продукції
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-you-get__item">
          <div class="section-item">
            <img src="../../statics/images/you-get/3.svg" alt="" class="section-item__icon">
            <div class="section-item__title">
              Гарантії та підтримка
            </div>
            <div class="section-item__text">
              Уся продукція компанії Eco polimer- має гарантійний термін та в разі несправності з технічних причин- буде
              замінена, або відремонтавана. Наші спеціалісти конструкторського відділу- завжди нададуть консультацію,
              щодо використання та технічних можливостей обладнання.
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-you-get__item">
          <div class="section-item">
            <img src="../../statics/images/you-get/4.svg" alt="" class="section-item__icon">
            <div class="section-item__title">
              Легке масштабування виробництва
            </div>
            <div class="section-item__text">
              Можливість додатково придбати акомплекти обладнання для збільшення продуктивності, модернізації та
              покращення виробничих процесів
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-you-get__item">
          <div class="section-item">
            <img src="../../statics/images/you-get/5.svg" alt="" class="section-item__icon">
            <div class="section-item__title">
              Гарантійне обслуговування
            </div>
            <div class="section-item__text">
              Перевірка, регулювання та обслуговування обладнання протягом усього гарантійного терміну.
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-you-get__item">
          <div class="section-item">
            <img src="../../statics/images/you-get/6.svg" alt="" class="section-item__icon">
            <div class="section-item__title">
              Підтримка від виробника
            </div>
            <div class="section-item__text">
              Допомога при введенні в експлуатацію- достовірні джерела інформації, консультації, щодо ефективного та
              ощадливого використання ресурсів.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
