<section class="section section-production-steps">
  <div class="container">
    <h2 class="title section-production-steps__title">
      Етапи запуску виробництва
    </h2>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-production-steps__item">
          <div class="production-steps-item-header">
            <img src="../../statics/images/production-steps/1.svg" alt="" class="production-steps-item-header__img">
            Подаєте заявку
          </div>
          <div class="section-item">
            <div class="section-item__text">
              Звертаєтесь: заповнюючи форму на сайті, телефонуєте за вказаним номером, або ж надсилаєте повідомлення
              у будь-якому месенджері, через соцмережу, або на пошту, вказані на сайті компанії
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-production-steps__item">
          <div class="production-steps-item-header">
            <img src="../../statics/images/production-steps/2.svg" alt="" class="production-steps-item-header__img">
            Спілкуєтесь з представником компанії
          </div>
          <div class="section-item">
            <div class="section-item__text">
              Для виявлення потреб, підготовки оптимальної пропозиції та розробки проекту під Ваші бажання та можливості-
              проводимо консультацію з спеціалістами компанії- за допомогою телефонного дзвінка, відеозв’язку,
              або ж запрошуємо на зустріч у нашому офісі
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-production-steps__item">
          <div class="production-steps-item-header">
            <img src="../../statics/images/production-steps/3.svg" alt="" class="production-steps-item-header__img">
            Відвідуєте виробництво
          </div>
          <div class="section-item">
            <div class="section-item__text">
              За бажанння — можете відвідати наше виобництво та побачити процес створення обладнання в реальному часі
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-production-steps__item">
          <div class="production-steps-item-header">
            <img src="../../statics/images/production-steps/4.svg" alt="" class="production-steps-item-header__img">
            Підписуємо договір
          </div>
          <div class="section-item">
            <div class="section-item__text">
              Починаємо роботу: розглядаємо комерційну пропозицію, підписуємо договір про співпрацю, оплачуємо рахунки та
              починаємо запуск виробництва обладнання.
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-production-steps__item">
          <div class="production-steps-item-header">
            <img src="../../statics/images/production-steps/5.svg" alt="" class="production-steps-item-header__img">
            Запускаємо виробництво
          </div>
          <div class="section-item">
            <div class="section-item__text">
              Після виготовлення обладнання- уточнюємо та корегуємо усі технічні моменти
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-production-steps__item">
          <div class="production-steps-item-header">
            <img src="../../statics/images/production-steps/6.svg" alt="" class="production-steps-item-header__img">
            Починаєте заробляти
          </div>
          <div class="section-item">
            <div class="section-item__text">
              Одна з вагомих переваг співпраці з нашою компанією- швидка окупність вкладень, вже через кілька місяців
              після запуску Ви отримаєте відчутний результат роботи вашого обладнання
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
