<section class="section-video js-video-section">
  <div class="container js-content-video">
    <div class="section-video__content">
      <img src="../../statics/images/video/play.svg" alt="" class="section-video__play js-play-video-btn">
      <h2 class="title section-video__title">
        Чому варто обирати для співпраці компанію ECO-POLIMER
      </h2>
    </div>
  </div>

  <div class="section-video__wrap-video js-video-wrap">
    <video class="section-video__video js-video" controls src="../../statics/video/video.mp4"></video>
  </div>
</section>
