<section class="section-video">
  <div class="container">
    <div class="section-video__content">
      <img src="../../statics/images/video/play.svg" alt="" class="section-video__play">
      <h2 class="title section-video__title">
        Чому варто обирати для співпраці компанію ECO-POLIMER
      </h2>
    </div>
  </div>
</section>
