<section class="section section-own-equipment">
  <div class="container">
    <h2 class="title section-own-equipment__title">
      Власне обладнання для виробництва
    </h2>

    <div class="section-own-equipment__desc">
      Необмежені можливості асортименту
    </div>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-6">
        <img src="../../statics/images/own-equipment/t-1000.png" alt="" class="section-own-equipment__product-img">
        <div class="section-own-equipment__product-name">
          T-1 000
        </div>
        <div class="section-own-equipment__product-short-desc">
          Машина для приготування суміші
        </div>
        <div class="section-own-equipment__product-desc">
          Багатофункціональний пристрій, що багаторазово оптимізують процес приготування уміші за рахунок поєднання в собі
          з функції 3 в 1:
        </div>
        <div class="section-own-equipment__product-complectation">
          <div class="grid grid--gutter-16">
            <div class="col sc-768-4">
              <div class="product-complectation-item">
                <img src="../../statics/images/own-equipment/complectation/1.png" alt="" class="product-complaectation-item__img">
                <div class="product-complaectation-item__name">
                  Шредер
                </div>
              </div>
            </div>
            <div class="col sc-768-4">
              <div class="product-complectation-item">
                <img src="../../statics/images/own-equipment/complectation/2.png" alt="" class="product-complaectation-item__img">
                <div class="product-complaectation-item__name">
                  Екструдер
                </div>
              </div>
            </div>
            <div class="col sc-768-4">
              <div class="product-complectation-item">
                <img src="../../statics/images/own-equipment/complectation/3.png" alt="" class="product-complaectation-item__img">
                <div class="product-complaectation-item__name">
                  Нагрівальна камера
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col sc-768-6">
        <img src="../../statics/images/own-equipment/pg-2500.jpg" alt="" class="section-own-equipment__product-img">
        <div class="section-own-equipment__product-name">
          ПГ-2500/600
        </div>
        <div class="section-own-equipment__product-short-desc">
          Прес гідравлічний
        </div>
        <div class="section-own-equipment__product-desc">
          Прес з  рухомим столом.
        </div>

        <div class="product-characteristics section-own-equipment__characteristics">
          <div class="product-characteristics__row">
            <div class="product-characteristics__label">
              Розмір робочого столу
            </div>
            <div class="product-characteristics__value">
              1300 * 1300 мм.
            </div>
          </div>
          <div class="product-characteristics__row">
            <div class="product-characteristics__label">
              Зусилля
            </div>
            <div class="product-characteristics__value">
              100т.
            </div>
          </div>
          <div class="product-characteristics__row">
            <div class="product-characteristics__label">
              Маса
            </div>
            <div class="product-characteristics__value">
              4000кг.
            </div>
          </div>
          <div class="product-characteristics__row">
            <div class="product-characteristics__label">
              Габаритні розміри
            </div>
            <div class="product-characteristics__value">
              3250 * 2000 * 1950 (Д*Ш*В)
            </div>
          </div>
        </div>

        <div class="section-own-equipment__feature">
          Збільшена площа рухомого столу, розмір столу 2500*600мм
        </div>
        <div class="section-own-equipment__feature">
          Номінальна сила тиску не більше 160 т
        </div>
        <div class="section-own-equipment__feature">
          Ручне управління
        </div>
        <div class="section-own-equipment__feature">
          Нижня рухома плита
        </div>
        <div class="section-own-equipment__feature">
          Гідроциліндри (6 шт)
        </div>
      </div>
    </div>
  </div>
</section>
