<section class="section-gallery">
  <div>
    <img src="../../statics/images/gallery/1.png" alt="">
  </div>
  <div>
    <img src="../../statics/images/gallery/2.png" alt="">
  </div>
  <div>
    <img src="../../statics/images/gallery/3.png" alt="">
  </div>
  <div>
    <img src="../../statics/images/gallery/4.png" alt="">
  </div>
  <div>
    <img src="../../statics/images/gallery/5.png" alt="">
  </div>
  <div>
    <img src="../../statics/images/gallery/6.png" alt="">
  </div>
  <div>
    <img src="../../statics/images/gallery/7.png" alt="">
  </div>
</section>
