<section class="section section-calculator">
  <div class="container">
    <div class="grid grid--gutter-16">
      <div class="col sc-1200-8">
        <h2 class="title section-calculator__title">
          Розрахуйте прибуток Вашого виробництва
        </h2>

        <div class="grid grid--gutter-16">
          <div class="col sc-768-6">
            <label for="population">
              Кількість населення міста/регіону
            </label>
            <input type="text" class="text-field js-calculator-text-field" id="population" value="200000" data-number-mask readonly />

            <div class="section-calculator__range-wrap">
              <input type="range" min="200000" max="2000000" class="js-calculator-range" data-field="population" value="200000" />
            </div>

            <div class="section-calculator__range-info">
              <span>200 000</span>
              <span>2 000 000</span>
            </div>
          </div>

          <div class="col sc-768-6">
            <label for="">
              Кількість прибудинкових територій
            </label>
            <input type="text" class="text-field js-calculator-text-field" id="number-areas" value="2000" data-number-mask />

            <div class="section-calculator__range-wrap">
              <input type="range" min="1" max="10000" class="js-calculator-range" data-field="number-areas" value="2000" />
            </div>

            <div class="section-calculator__range-info">
              <span>1</span>
              <span>10 000</span>
            </div>
          </div>

          <div class="col sc-768-6">
            <label for="">
              Кількість парків
            </label>
            <input type="text" class="text-field js-calculator-text-field" id="number-parks" value="10" data-number-mask />

            <div class="section-calculator__range-wrap">
              <input type="range" min="0" max="30" class="js-calculator-range" data-field="number-parks" value="10" />
            </div>

            <div class="section-calculator__range-info">
              <span>0</span>
              <span>30</span>
            </div>
          </div>

          <div class="col sc-768-6">
            <label for="">
              Протяжність набережних(км)
            </label>
            <input type="text" class="text-field js-calculator-text-field" id="length-waterfront" value="5" data-number-mask />

            <div class="section-calculator__range-wrap">
              <input type="range" min="0" max="10" class="js-calculator-range" data-field="length-waterfront" value="5" />
            </div>

            <div class="section-calculator__range-info">
              <span>0</span>
              <span>10</span>
            </div>
          </div>

          <div class="col sc-768-6">
            <label for="">
              Кількість кладовищ
            </label>
            <input type="text" class="text-field js-calculator-text-field" id="number-cemeteries" value="10" data-number-mask />

            <div class="section-calculator__range-wrap">
              <input type="range" min="0" max="25" class="js-calculator-range" data-field="number-cemeteries" value="10" />
            </div>

            <div class="section-calculator__range-info">
              <span>0</span>
              <span>25</span>
            </div>
          </div>

          <div class="col sc-768-6">
            <label for="">
              Кількість лікарень (корпусів) та клінік
            </label>
            <input type="text" class="text-field js-calculator-text-field" id="number-hospitals" value="1" data-number-mask />

            <div class="section-calculator__range-wrap">
              <input type="range" min="1" max="10" class="js-calculator-range" data-field="number-hospitals" value="1" />
            </div>

            <div class="section-calculator__range-info">
              <span>1</span>
              <span>10</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col sc-1200-4">
        <div class="calculator-total section-calculator__calculator-total">
          <div class="calculator-total__row">
            <div class="calculator-total__col-text">
              Потенціал реалізації продукції, що виготовляється
            </div>
            <div class="calculator-total__col-total js-calculator-potential"></div>
          </div>
          <div class="calculator-total__row calculator-total__row--no-margin">
            <div class="calculator-total__col-text">
              Ваш прибуток в місяць
              <div class="calculator-total__footnote">
                *реальні показники можуть відрізнятись в залежності від регіону
              </div>
            </div>
            <div class="calculator-total__col-total js-calculator-profit"></div>
          </div>
        </div>
        <div class="calculator-get">
          <div class="calculator-get__text">
            Отримайте детальний маркетинговий аналіз для Вашого міста з розрахунком потенціалу збуту
          </div>
          <button class="button calculator-get__button js-form-popup-btn" data-title="Отримати розрахунок">
            Отримати
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
