<section class="section section-team">
  <div class="container">
    <div class="section-team__header">
      <h2 class="title section-team__title">
        Наша команда
      </h2>

      <button class="button section-team__button">
        Дивитись відео про нашу компанію
      </button>
    </div>

    <div class="section-team__desc">
      Допомагаємо та консультуємо на кожному етапі, від початку виготовлення — до повноцінної діяльності Вашого
      підприємства
    </div>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-3">
        <div class="team-card">
          <img src="../../statics/images/team/1.png" alt="" class="team-card__img">
          <div class="team-card__role">
            Засновник
          </div>
          <div class="team-card__name">
            Имя Фамилия Отчество
          </div>
        </div>
      </div>

      <div class="col sc-768-3">
        <div class="team-card">
          <img src="../../statics/images/team/2.png" alt="" class="team-card__img">
          <div class="team-card__role">
            Відділ продажу
          </div>
          <div class="team-card__name">
            Имя Фамилия Отчество
          </div>
        </div>
      </div>

      <div class="col sc-768-3">
        <div class="team-card">
          <img src="../../statics/images/team/3.png" alt="" class="team-card__img">
          <div class="team-card__role">
            Конструкторський відділ
          </div>
          <div class="team-card__name">
            Имя Фамилия Отчество
          </div>
        </div>
      </div>

      <div class="col sc-768-3">
        <div class="team-card">
          <img src="../../statics/images/team/4.png" alt="" class="team-card__img">
          <div class="team-card__role">
            Відділ маркетингу
          </div>
          <div class="team-card__name">
            Имя Фамилия Отчество
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
