<section class="section section-subscribe">
  <div class="container">
    <div class="title section-subscribe__title">
      Дізнавайтесь першими про наші зміни та наші новини
    </div>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="subscribe-item section-subscribe__item">
          <div class="section-item subscribe-item__content">
            <div class="section-item__title">
              Instagram
            </div>
            <div class="section-item__text">
              Пости про наше виробництво, продукцію, наших партнерів та про новинки в сфері переробки полімерів
            </div>
          </div>
          <a href="#" class="subscribe-button subscribe-button--instagram section-subscribe__subscribe-btn">
            Підписатись
          </a>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="subscribe-item section-subscribe__item">
          <div class="section-item subscribe-item__content">
            <div class="section-item__title">
              Telegram
            </div>
            <div class="section-item__text">
              Акційні пропозиці, анонси новинок нашого виробництва та найсвіжіші новини зі сфері переробки
            </div>
          </div>
          <a href="#" class="subscribe-button subscribe-button--telegram section-subscribe__subscribe-btn">
            Підписатись
          </a>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="subscribe-item section-subscribe__item">
          <div class="section-item subscribe-item__content">
            <div class="section-item__title">
              Youtube
            </div>
            <div class="section-item__text">
              Про наше виробництво. Інтерв’ю з засновником, спеціалістами та огляд нашого виробництва
            </div>
          </div>
          <a href="#" class="subscribe-button subscribe-button--youtube section-subscribe__subscribe-btn">
            Підписатись
          </a>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="subscribe-item section-subscribe__item">
          <div class="section-item subscribe-item__content">
            <div class="section-item__title">
              Facebook
            </div>
            <div class="section-item__text">
              новинки продукції, історії співпраці з нашими партнерами, новини в сфері екології, корисна інформація, чек-листи.
            </div>
          </div>
          <a href="#" class="subscribe-button subscribe-button--facebook section-subscribe__subscribe-btn">
            Підписатись
          </a>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="subscribe-item section-subscribe__item">
          <div class="section-item subscribe-item__content">
            <div class="section-item__title">
              Viber
            </div>
            <div class="section-item__text">
              Швидкі відповіді на Ваші запитання, консультація та супровід у питаннях співпраці
            </div>
          </div>
          <a href="#" class="subscribe-button subscribe-button--viber section-subscribe__subscribe-btn">
            Підписатись
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
