<section class="grid section-gallery">
  <div class="col sc-768-2 sc-580-4 sc-320-6 section-gallery__item">
    <img src="../../statics/images/gallery/1.png" alt="">
  </div>
  <div class="col sc-768-2 sc-580-4 sc-320-6 section-gallery__item">
    <img src="../../statics/images/gallery/2.png" alt="">
  </div>
  <div class="col sc-768-2 sc-580-4 sc-320-6 section-gallery__item">
    <img src="../../statics/images/gallery/3.png" alt="">
  </div>
  <div class="col sc-768-2 sc-580-4 sc-320-6 section-gallery__item">
    <img src="../../statics/images/gallery/4.png" alt="">
  </div>
  <div class="col sc-768-2 sc-580-4 sc-320-6 section-gallery__item">
    <img src="../../statics/images/gallery/5.png" alt="">
  </div>
  <div class="col sc-768-2 sc-580-4 sc-320-6 section-gallery__item">
    <img src="../../statics/images/gallery/6.png" alt="">
  </div>
  <!--<div class="">
    <img src="../../statics/images/gallery/7.png" alt="">
  </div>-->
</section>
