<section class="section-production-start">
  <div class="container">
    <div class="section-production-start__wrap">
      <h2 class="title section-production-start__title">
        Дізнайтесь про можливості запуску виробництва і отримайте консультацію та умови співпраці
      </h2>

      <div class="section-production-start__form">
        <div class="grid grid--gutter-16">
          <div class="col sc-768-4 section-production-start__col">
            <label for="production-start-name">
              Ваше ім’я
            </label>
            <input class="text-field section-production-start__input" id="production-start-name" type="text">
          </div>
          <div class="col sc-768-4 section-production-start__col">
            <label for="production-start-phone">
              Телефон
            </label>
            <input class="text-field section-production-start__input" id="production-start-phone" type="text" data-phone-mask>
          </div>
          <div class="col sc-768-4 section-production-start__col">
            <button class="button">
              Отримати консультацію
            </button>
          </div>
        </div>
      </div>

      <div>
        Натискаючи кнопку — Ви даєте згоду на обробку ваших даних
      </div>
    </div>
  </div>
</section>
