<div class="section-production-line">
  <div class="container">
    <div class="grid">
      <div class="col sc-768-10">
        <div class="section-production-line__content">
          <div class="title section-production-line__title">
            Виробництво готової лінії - відповідно до ваших потреб і об’ємів
          </div>

          <div class="section-production-line__items">
            <div class="production-line-item">
              <div class="production-line-item__value">2</div>
              <div class="production-line-item__text">місяці для швидкої окупностї</div>
            </div>

            <div class="production-line-item">
              <div class="production-line-item__value">16</div>
              <div class="production-line-item__text">місяців окупності для мінімальної конкуренції</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
