<div class="section section-production-advantages">
  <div class="container">
    <div class="section-production-advantages__wrap">
      <div class="title section-production-advantages__title">
        Переваги продукії, яка виготовляється за допомогою обладнання ECO-POLIMER
      </div>

      <div class="section-production-advantages__content">
        <div>
          <img src="../../statics/images/production-advantages/1.png" alt="" class="section-production-advantages__img">
        </div>

        <div>
          <div class="production-advantages-item">
            <img src="../../statics/images/production-advantages/items/1.svg" alt="" class="production-advantages-item__icon">
            <div>
              <div class="section-item">
                <div class="section-item__title">
                  Екологічність та безвідходність
                </div>
                <div class="section-item__text">
                  Кожен продукт пілягає переробці та має безкінечний рециклінг
                </div>
              </div>
            </div>
          </div>

          <div class="production-advantages-item">
            <img src="../../statics/images/production-advantages/items/2.svg" alt="" class="production-advantages-item__icon">
            <div>
              <div class="section-item">
                <div class="section-item__title">
                  Довговічність використання
                </div>
                <div class="section-item__text">
                  Продукція служить кілька десятків років
                </div>
              </div>
            </div>
          </div>

          <div class="production-advantages-item">
            <img src="../../statics/images/production-advantages/items/3.svg" alt="" class="production-advantages-item__icon">
            <div>
              <div class="section-item">
                <div class="section-item__title">
                  Низька собівартість та висока маржинальність
                </div>
                <div class="section-item__text">
                  Вартість готових виробів в кілька разів менша, ніж аналоги з дерева, чавуну, бетону
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
