<section class="section section-faq">
  <div class="container">
    <div class="section-faq__wrap">
      <h2 class="title section-faq__title">
        Питання, які ми отримуємо найчастіше
      </h2>

      <div class="section-faq__content">
        <div class="accordion section-faq__accordion js-accordion" data-collapsed>
          <div class="accordion__header" data-toggle>
            Які вимоги до партнерів?
          </div>
          <div class="accordion__content" data-content>
            <div class="accordion__content-inner">
              Розділяти місію компанії Eco Polimer- ми прагнемо очистити середовище від пластикових відходів та сворити
              сучасне суспільство ековиробників та підприємців, з високим прибутком. В якості партнерів- шукаємо
              однодумців,
              а не гаманець. Важливе- бажання розвиватись, співпрацювати та будувати разом успішну систему переробки
              відходів.
            </div>
          </div>
        </div>

        <div class="accordion section-faq__accordion js-accordion" data-collapsed>
          <div class="accordion__header" data-toggle>
            Які вимоги до партнерів?
          </div>
          <div class="accordion__content" data-content>
            <div class="accordion__content-inner">
              Розділяти місію компанії Eco Polimer- ми прагнемо очистити середовище від пластикових відходів та сворити
              сучасне суспільство ековиробників та підприємців, з високим прибутком. В якості партнерів- шукаємо
              однодумців,
              а не гаманець. Важливе- бажання розвиватись, співпрацювати та будувати разом успішну систему переробки
              відходів.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
