<section class="section-recycle">
  <div class="section-recycle__header recycle-header">
    <img src="../../statics/images/info.svg" alt="" class="recycle-header__icon">
    <div class="recycle-header__text">
      Ми самостійно проектуємо та виготовляємо обладнання, яке дозволить займатись виробництвом різноманітних виробів, під
      різні потреби на ринку
    </div>
  </div>

  <div class="container">
    <div class="section-recycle__process">
      <div class="section-recycle__recycle">
        <div class="recycle-raw-item recycle-raw-item--kg">
          <div class="recycle-raw-item__qnt">
            79
          </div>
          <div class="section-item">
            <div class="section-item__title">
              кг сировини
            </div>
            <div class="section-item__text">
              Виробнича потужність лінії за годину
            </div>
          </div>
        </div>

        <div class="recycle-raw-item recycle-raw-item--trash">
          <div class="recycle-raw-item__qnt">
            150
          </div>
          <div class="section-item">
            <div class="section-item__title">
              150 лав та смітників
            </div>
            <div class="section-item__text">
              Виготовляється щомісяця заводом
            </div>
          </div>
        </div>

        <div class="recycle-raw-item recycle-raw-item--plastic">
          <div class="recycle-raw-item__qnt">
            4.8
          </div>
          <div class="section-item">
            <div class="section-item__title">
              4,8 тонни використаного пластику
            </div>
            <div class="section-item__text">
              За місяць переробляється для виготовлення нових виробів
            </div>
          </div>
        </div>

        <img src="../../statics/images/recycle/arrow.svg" alt="" class="section-recycle__arrow" />
      </div>

      <div class="section-recycle__products">
        <div class="recycle-product-item section-recycle__product-item">
          <div class="recycle-product-item__qnt">
            4 080 кг
          </div>
          <div>
            пластику
          </div>
          <div class="recycle-product-item__img-wrap">
            <img src="../../statics/images/recycle/1.png" alt="">
          </div>
        </div>

        <div class="recycle-product-item section-recycle__product-item">
          <div class="recycle-product-item__qnt">
            750 000
          </div>
          <div>
            пакетів
          </div>
          <div class="recycle-product-item__img-wrap">
            <img src="../../statics/images/recycle/2.png" alt="">
          </div>
        </div>

        <div class="recycle-product-item section-recycle__product-item">
          <div class="recycle-product-item__qnt">
            750 000
          </div>
          <div>
            плівки
          </div>
          <div class="recycle-product-item__img-wrap">
            <img src="../../statics/images/recycle/3.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
