<section class="section section-representation">
  <div class="container">
    <h2 class="title section-representation__title">
      Представництво українського виробника ECO-POLIMER
    </h2>

    <div class="section-representation__desc">
      Бізнес в області благоустрою, з користю для екології
    </div>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-representation__item">
          <div class="section-representation__label">
            Прибуток
          </div>
          <div class="section-representation__sub-label">
            від 133 333 грн
          </div>
          <div>
            Розрахунковий чистий прибуток, згіднофінансової моделі, починаючи з першого кварталу, після запуску
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-representation__item">
          <div class="section-representation__label">
            Окупність
          </div>
          <div class="section-representation__sub-label">
            від 16 місяців
          </div>
          <div>
            Висока рентабельність бізнесу дозволяє повернути вкладені кошти, вже через рік, після початку роботи
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-representation__item">
          <div class="section-representation__label">
            Стартовий вклад
          </div>
          <div class="section-representation__sub-label">
            від 2 171 333 грн
          </div>
          <div>
            За цю ціну — Ви отримаєте готову лінію обладнання, для початку власного виробництва
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-representation__item">
          <div class="section-representation__label">
            Маржинальність
          </div>
          <div class="section-representation__sub-label">
            50–80%
          </div>
          <div>
            Висока маржинальність продукції дозволяє отримати високий прибуток, навіть при реалізації продукції
            за найнижчими ринковими цінами
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-representation__item">
          <div class="section-representation__label">
            Операційний прибуток
          </div>
          <div class="section-representation__sub-label">
            1-й квартал
          </div>
          <div>
            Вихід наопераційний прибуток в перший квартал після запуску
          </div>
        </div>
      </div>
    </div>

    <div class="section-representation__info">
      <img src="../../statics/images/info.svg" alt="" class="section-representation__info-icon" />
      <div>
        У розрахунках представлено середні суми, беручи до уваги наш досвід. Ваші результати відрізнятимуться,
        в залежності від запропонованих вами зусиль.
      </div>
    </div>
  </div>
</section>
