<section class="section-consultation">
  <div class="container">
    <h2 class="title section-consultation__title">
      Допомога фахівця
    </h2>

    <div class="section-consultation__desc">
      Якщо у вас виникли запитання, або ж Ви не можете визначитися з вибором необхідного обладнання, заповніть будь
      ласка форму, і наші фахівці передзвонять вам протягом 10 хвилин
    </div>

    <form class="section-consultation__form js-form">
      <div class="grid grid--gutter-16">
        <div class="col sc-768-3 section-consultation__col">
          <label for="consultation-name">
            Ваше ім’я
          </label>
          <input class="text-field text-field--no-bordered section-consultation__input" id="consultation-name" type="text" name="name">
        </div>
        <div class="col sc-768-3 section-consultation__col">
          <label for="consultation-email">
            Email
          </label>
          <input class="text-field text-field--no-bordered section-consultation__input" id="consultation-email" type="text" name="email">
        </div>
        <div class="col sc-768-3 section-consultation__col">
          <label for="consultation-phone">
            Телефон
          </label>
          <input class="text-field text-field--no-bordered section-consultation__input" id="consultation-phone" type="text" data-phone-mask name="phone">
        </div>
        <div class="col sc-768-3 section-consultation__col">
          <button class="button section-consultation__button">
            Отримати консультацію
          </button>
        </div>
      </div>
    </form>

    <div>
      Натискаючи кнопку — Ви даєте згоду на обробку ваших даних
    </div>
  </div>
</section>
