<section class="section section-more-about-us">
  <div class="container">
    <h2 class="title section-more-about-us__title">
      Дізнайтесь про нас більше
    </h2>

    <div class="grid grid--gutter-16">
      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/more-about-us/1.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            <span class="section-more-about-us__btn">
              Отримайте прорахунок вартості
            </span>
          </div>
          <div class="section-item__text">
            Розрахуйте приблизний дохід Вашого виробництва
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/more-about-us/2.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            <span class="section-more-about-us__btn">
              Підпишіться на наші новини
            </span>
          </div>
          <div class="section-item__text">
            Отримуйте спеціальні пропозиції та новини з нашого виробництва
          </div>
        </div>
      </div>

      <div class="col sc-768-4">
        <div class="section-item">
          <img src="../../statics/images/more-about-us/3.svg" alt="" class="section-item__icon">
          <div class="section-item__title">
            <span class="section-more-about-us__btn">
              Отримайте консультацію
            </span>
          </div>
          <div class="section-item__text">
            Наші менеджери з радістю знайдуть відповіді на усі Ваші запитання
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
