<div class="popup js-success-popup">
  <div class="popup__window popup-success">
    <div class="title popup__title">
      Готово
    </div>
    <div class="popup-success__description">
      Ми зв'яжимось з вами найближчим часом
    </div>
    <button class="popup-success__button button" data-close>Ок</button>
  </div>
</div>
