.footer
  padding-bottom 16px
  background-color alpha($color-primary, .6)
  &__top
    display flex
    justify-content space-between
    align-items center
    padding 24px 0
    border-bottom 1px solid #E4E3E3
    margin-bottom 16px
  &__nav-wrap
    display flex
    align-items center
  &__nav
    margin-right 54px
