.form-popup
  width 700px
  background #fff
  padding 24px
  &__send-button
    width 100%
    margin-top 24px
  &__success
    text-align center
    display none
  &__success-img
    width 60px
    margin-top 24px
  &__success-text
    margin-top 24px
    margin-bottom 24px
  &__title
    max-width 500px
