.section-partner-products
  padding-bottom 72px
  &__carousel-wrap
    //padding-right 108px
    display flex
    align-items center
  &__carousel-nav
    margin-left 58px
  &__data
    display flex
    flex-direction column
    height 100%
  &__address-wrap
    flex 1
    display flex
    align-items center

.partner-products-block
  height 500px
  width 100%
  display flex
  align-items center
  color $color-grey
  background #A7CC40
  padding-right 50px
  padding-left 26px
  &__img
    max-width 315px
    margin-right 42px
  &__header
    margin-bottom 48px
  &__title
    font-weight 600
    font-size 17px
    line-height 21px
    margin-bottom 6px
  &__item
    &:not(:last-child)
      margin-bottom 32px
  &__link
    margin-top 8px
    font-weight 800
    font-size 14px
    line-height 17px
