.section-eco-business
  background-color $color-primary
  &__title
    max-width 848px
    margin-bottom 16px
  &__desc
    margin-bottom 48px
  &__item
    display flex
    align-items flex-start
    margin-top 24px
  &__icon
    margin-top -43px
    margin-left -10px
    margin-right 4px
