.section-consultation
  color $color-dark-grey
  background-color: $color-primary
  padding 56px 0
  &--no-bg
    background none
  &__title
    margin-bottom 24px
  &__desc
    margin-bottom 32px
    max-width 848px
  &__form
    margin-bottom 24px
  &__button
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)
  &__input
    width 100%
  &__col
    display flex
    flex-direction column
    justify-content flex-end
