.section-representation
  &__title
    margin-bottom 16px
    max-width 832px
  &__desc
    margin-bottom 36px
    color $color-dark-grey
  &__item
    margin-bottom 48px
    color $color-grey
  &__label
    background-color $color-accent
    margin-bottom: 8px
    border-radius 4px
    color #ffffff
    font-weigh: 600
    font-size 19px
    line-height 23px
    padding 0 8px
    display inline-flex
    align-items center
    min-height 30px
  &__sub-label
    color $color-black
    font-weight 900
    font-size 19px
    line-height 23px
    margin-bottom 16px
  &__info
    font-weight 600
    font-size 17px
    line-height 21px
    display flex
    max-width 905px
    align-items flex-start
  &__info-icon
    margin-right 24px
