.section-carousel
  &__data
    position absolute
    top 148px
    right 0
    @media screen and (max-width 1199px)
      right initial
      left 16px
    @media screen and (max-width 767px)
      top 100px
  &__content
    position relative
  &__desc
    font-weight 600
    font-size 17px
    line-height 21px
    margin-bottom 16px
  @media screen and (max-width 767px)
    color #fff
  &__title
    max-width 754px
    margin-bottom 56px
    @media screen and (max-width 1199px)
      margin-bottom 32px
    @media screen and (max-width 767px)
      padding-right 16px
      color #fff
  &__nav
    position absolute
    right 0
    bottom -130px
    @media screen and (max-width 767px)
      display none
  &__img
    height 463px
    object-fit cover
  &__img-wrap
    position relative
    display inline-block
    @media screen and (max-width 767px)
      &::before
        content ''
        display block
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        background rgba(0, 0, 0, 0.4)
