.section-team
  background-color $color-primary
  &__header
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    margin-bottom 18px
  &__button
    @media screen and (max-width 767px)
      margin-top 16px
  &__title
    margin-right 16px
  &__desc
    max-width 648px
    color $color-grey
    margin-bottom 56px

.team-card
  &__img
    margin-bottom 24px
  &__role
    color $color-grey
    font-weight 500
    font-size 16px
    line-height 20px
    margin-bottom 8px
  &__name
    font-weight 600
    font-size 17px
    line-height 21px
