.section-calculator
  &__title
    margin-bottom 48px
  &__calculator-total
    margin-bottom 16px
  &__range-wrap
    height 16px
    display flex
    align-items center
    margin-top -8px
    justify-content center
    padding 0 8px
  &__range-info
    display flex
    justify-content space-between
    font-weight 500
    font-size 12px
    line-height 15px
    color $color-grey
    padding 0 8px
    margin-bottom 16px

.calculator-total
  padding 24px
  background-color $color-primary
  @media screen and (max-width 1199px)
    display flex
  @media screen and (max-width 767px)
    display block
  &__row
    margin-bottom 30px
    display flex
    @media screen and (max-width 1199px)
      flex 1
    &--no-margin
      margin-bottom 0
  &__col-text
    width 258px
    padding-right 16px
  &__col-total
    font-weight 800
    font-size 18px
    line-height 22px
  &__footnote
    color $color-grey
    font-size 14px
    line-height 17px

.calculator-get
  box-shadow 0 0 12px rgba(95, 95, 95, 0.24)
  padding 24px
  &__text
    font-weight 800
    font-size 18px
    line-height 22px
    margin-bottom 24px
  &__button
    width 307px
    max-width 100%
