.section-production-start
  background-image: url('../statics/images/production-start/bg.png')
  padding 88px 0 104px
  color #fff
  &__title
    margin-bottom 32px
    max-width 848px
    color #fff
  &__wrap
    padding 0 160px
  &__form
    margin-bottom 24px
  &__col
    display flex
    flex-direction column
    justify-content flex-end
  &__input
    background rgba(255, 255, 255, 0.2)
    color #fff
