.section-production-advantages
  background-color $color-primary
  padding-bottom 148px
  &__wrap
    padding-left 91px
  &__title
    max-width 695px
    margin-bottom 36px
  &__content
    display flex
  &__img
    max-width 583px
    margin-top 16px
    margin-right 118px

.production-advantages-item
  display flex
  margin-bottom 54px
  align-items center
  &__icon
    margin-right 16px
    margin-top -32px
