.section-faq
  &__wrap
    padding-left 92px
  &__title
    margin-bottom 52px
    max-width 416px
  &__content
    max-width 988px
  &__accordion
    background-color $color-primary
    margin-bottom 2px
