.section-more-about-us
  &__title
    margin-bottom 43px
  &__btn
    color $color-accent
    cursor pointer
    &::after
      content ''
      display inline-block
      height 12px
      width 12px
      background url("../statics/images/marker.svg") no-repeat
      margin-left 8px
