<header class="header">
  <div class="header__header-top header-top">
    <div class="container">
      <div class="header__contacts-bar">
        {{> ../contacts-bar }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header-bottom">
      <img src="../../../statics/images/logo.svg" alt="">

      {{> navigation }}

      <button class="button">Замовити дзвінок</button>
    </div>
  </div>
</header>
