<nav class="nav">
  <a href="/" class="nav__item">
    Головна
  </a>
  <a href="/" class="nav__item">
    Про компанію
  </a>
  <a href="/" class="nav__item">
    Обладнання
  </a>
  <a href="/" class="nav__item">
    Дізнатися вартість
  </a>
  <a href="/" class="nav__item">
    Контакти
  </a>
</nav>
